<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="drone_urdf2">

  <link name="world"/>

  <joint name="base_joint" type="fixed">
	<parent link="world"/>
	<child link="base_link"/>
	<origin rpy="0 0 3.142" xyz="0.0 0.0 0.0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.5563E-05 0.00016333 0.032978"
        rpy="0 0 0" />
      <mass
        value="0.66063" />
      <inertia
        ixx="0.00090211"
        ixy="-1.8473E-05"
        ixz="5.9669E-14"
        iyy="0.003573"
        iyz="2.6351E-14"
        izz="0.0043507" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-5.4113063752137E-09 -2.5924262458954E-08 2.04494028932523E-08"
        rpy="0 0 0" />
      <mass
        value="0.0117525934249256" />
      <inertia
        ixx="6.13467229946355E-05"
        ixy="5.33110194548022E-13"
        ixz="1.37675843009824E-11"
        iyy="6.64025500655714E-07"
        iyz="-1.20216600239056E-13"
        izz="6.13482886382559E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.135 0.001393 0.03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.000255100242262468 -0.0338251910857813 -0.0554553521915526"
        rpy="0 0 0" />
      <mass
        value="0.185605397053264" />
      <inertia
        ixx="0.000283700924805311"
        ixy="-7.86562401584853E-08"
        ixz="2.82564538365549E-07"
        iyy="0.000523058821781675"
        iyz="1.67938496549037E-08"
        izz="0.000308730661063502" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.00029704 -0.16534 0.058371"
      rpy="0 0 0" />
    <parent
      link="Link_1" />
    <child
      link="Link_2" />
    <axis
      xyz="0.011407 0 0.99993" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.000427471788521899 0.0339711317114997 -0.0537203104105317"
        rpy="0 0 0" />
      <mass
        value="0.185605390675731" />
      <inertia
        ixx="0.000283701045802814"
        ixy="-7.90283112890916E-08"
        ixz="2.88500697653678E-07"
        iyy="0.000523058820701653"
        iyz="-1.49829304066838E-08"
        izz="0.000308730504133049" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.00045208 0.1652 0.056636"
      rpy="0 0 0" />
    <parent
      link="Link_1" />
    <child
      link="Link_3" />
    <axis
      xyz="0.011407 0 0.99993" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-5.86360249243967E-09 2.59206679453783E-08 -2.03252708552704E-08"
        rpy="0 0 0" />
      <mass
        value="0.0117525934325749" />
      <inertia
        ixx="6.13467231986159E-05"
        ixy="-5.34227872607456E-13"
        ixz="2.18011791322445E-11"
        iyy="6.64025500753099E-07"
        iyz="-1.08537710204228E-13"
        izz="6.13482884767918E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.135 0 0.03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.000249700404364062 -0.0338251995515797 -0.0554553886807976"
        rpy="0 0 0" />
      <mass
        value="0.185605351162656" />
      <inertia
        ixx="0.000283700863267384"
        ixy="-7.86573352674983E-08"
        ixz="2.80130687170455E-07"
        iyy="0.000523058815232003"
        iyz="1.67834003494062E-08"
        izz="0.000308730716976049" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.00029134 -0.16534 0.05837"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0.01131 0 0.99994" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.000757409969281642 0.0337775856601109 -0.0554507224627409"
        rpy="0 0 0" />
      <mass
        value="0.185604947450906" />
      <inertia
        ixx="0.000283698894876373"
        ixy="-7.87452502605569E-08"
        ixz="-1.78597930509087E-07"
        iyy="0.00052305870165037"
        iyz="-1.64587791090305E-08"
        izz="0.000308732501183561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_urdf2/meshes/Link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="-0.00078724 0.1654 0.058369"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_6" />
    <axis
      xyz="-0.0072518 0 0.99997" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>

<transmission name="link_1_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="joint_1">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	</joint>
	<actuator name="link_1_motor">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	</actuator>
  </transmission>

  <transmission name="link_2_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="joint_2">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	</joint>
	<actuator name="link_2_motor">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	</actuator>
  </transmission>

  <transmission name="link_3_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="joint_3">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	</joint>
	<actuator name="link_3_motor">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	</actuator>
  </transmission>

  <transmission name="link_4_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="joint_4">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	</joint>
	<actuator name="link_4_motor">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	</actuator>
  </transmission>

  <transmission name="link_5_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="joint_5">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	</joint>
	<actuator name="link_5_motor">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	</actuator>
  </transmission>

  <transmission name="link_6_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="joint_6">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	</joint>
	<actuator name="link_6_motor">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	</actuator>
  </transmission>

  <transmission name="link_7_trans">
	<type>transmission_interface/SimpleTransmission</type>
	<joint name="joint_7">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	</joint>
	<actuator name="link_7_motor">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	</actuator>
  </transmission>

  <gazebo>
	<plugin name="control" filename="libgazebo_ros_control.so">
		<robotNamespace>/</robotNamespace>
	</plugin>
  </gazebo>

  <gazebo reference="link_1">
	<selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="link_2">
	<selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="link_3">
	<selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="link_4">
	<selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="link_5">
	<selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="link_6">
	<selfCollide>true</selfCollide>
  </gazebo>

  <gazebo reference="link_7">
	<selfCollide>true</selfCollide>
  </gazebo>


</robot>
